/* shopping cart page */
/* slick */
.recommand_text {
    margin-top: 60px;
    text-align: center;
}
.cloth {
    width: 350px;
    height: 230px;
    position: relative;
}

.cloth img {
    width: 150px;
    height: 150px;
    text-align: center;
}

.left_arrow {
    position: absolute;
    top: 35%;
    left: -30px;
    font-size: 30px;
}

.left_arrow2 {
    position: absolute;
    top: 35%;
    left: -70px;
    font-size: 30px;
}

.right_arrow {
    position: absolute;
    top: 35%;
    right: -30px;
    font-size: 30px;
}

.threejs {
    width: 750px;
    height: 700px;
    position: relative;
}

.gotoShopCart {
    color: #212529;
}

.gotoShopCart:hover {
    font-weight: bold;
    color: #212529;
}
